@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
padding:0;
margin: 0;
box-sizing: border-box;
font-family: Outfit;
}
#root{
    min-height:100vh;
    display: flex;
    animation: fadeIn 1.5s;
}
.sidebar{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
  
}
.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;

}

.sidebar .new-chat{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
     border-radius: 50px;
     font-size: 14px;
     color: grey;
     cursor: pointer;
}


.sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}


.sidebar .recent-entry:hover{
    background-color: #e2e6;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}
.body{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}
.body .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.body .nav .img{
    width: 40px;
    border-radius: 50%;
}

.body-container{
    max-width: 900px;
    margin: auto;
}
.body .greet{
    margin: 50px 0px;
    font-size: 56px;
    color:#c4c7c5;
    font-weight: 500;
    padding: 20px;
}
.body .greet span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.body .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
}

.body .card{
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.body .card p{
color: #585858;
font-size: 17px;
}
.body .card:hover{
    background-color: #dfe4ea;
}
.body-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}
.seach-box div{
display: flex;
align-items: center;
gap: 15px;
}
.body .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}
.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar{
    display: none;
}
.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}
.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}
@keyframes loader{
    0%{
        background-position: -800px 0px;
    }
100%{
    background-position: 800px 0px;
}
}

.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media(max-width:600px){
     .sidebar{
        display: none;
     }
} 
@media(max-width:600px){
    .body-bottom input{
       flex: none;
       width: 150px;
    }
    .search-box{
        padding: 5px 10px;
    }
    .seach-box div{
        gap: 5px;
    }
}

.saty{
    bottom: 0;
}